/* ESTA ES LA HOJA DE ESTILOS */

/*
TIPOS DE LETRA

font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;

------------
*/






/* TAMAÑO PC - SUPERIORES - 1367px a más */
*{
/*	width: 100%;
	height: 100%; */
	margin: 0;
	padding: 0;
}
#General_Contenedor{
	width: 100%;
}
header{
	background-color: rgba(197, 197, 197, 0.7); /*color de fondo, borrar si es transparente*/
	width: 100%; /*ancho de la caja*/
	height: 80px; /*altura de la caja 80px*/
	position: fixed;
}


#cont_header{
	height: auto;
	width: auto; /*ancho de la caja*/
	margin: auto; /*centrar la caja*/
}

#logo{
	width: 85px;
	height: 46px;
	padding: 13px 0 0 20px;
	float: left; /*flotando a la izquierda*/
}

nav{
	height: auto;
	width: 50%; /*ancho de la barra*/
	float: right; /*flotar a la derecha*/
}

nav ul li{
	list-style: none; /*oculta los puntos de listado*/
}

nav ul li a{
	text-decoration: none; /*quita el subrayado al texto*/
	color: #333333; /*color de texto*/
}

nav ul li a:link{
	display: block; /*contenedor para cada item o palabra*/
	width: auto; /*ancho de los botones*/
	float: left; /*alinear palabras del menú a la izquierda*/
	padding-top: 25px; /*margen interno*/
	padding-left: 17px;
        padding-right: 17px;
	padding-bottom: 5px;
	font-family: 'Poppins', sans-serif; /*tipografía*/
	font-weight: 700; /*grosor del texto*/
}

nav ul li a:hover{
	color: #333333;
	border-bottom: 3px solid #333333;
	transition: all 0.2s cubic-bezier(0.98, -1.55, 0.27, 1.55);
	transform: scale(1);
}

#slider{
	background-image: url("../IMAGENES/fondo2.png");
	background-size: cover;
	padding-bottom: 250px;
}

.cont_slider{
	width:100%;
	max-width: 1366px;
	padding-top: 250px; /*cambiar*/
	height: 100%;
}

h1{
	font-family: 'Work Sans', sans-serif;
	color: #333333;
	font-weight: 400;
	font-size: 2.1em;
	text-align: left;
	padding-left: 85px;
	padding-top: 20px;
	width: auto;
	height: auto;
}
h2{
	font-family: 'Work Sans', sans-serif;
	color: #333333;
	font-weight: 700;
	font-size: 4.5em;
	text-align: left;
	padding-left: 82px;
	padding-top: 15px;
	width: auto;
	height: auto;
}

h3{
	font-family: 'Work Sans', sans-serif;
	color: #333333;
	font-weight: 500;
	font-size: 1.9em;
	text-align: left;
	padding-left: 85px;
	padding-top: 7px;
	width: auto;
}

/*sobre mi*/
#sobremi{  /*fondo*/
	background-color: #FFFFFF;
	height: auto;
	padding: 95px 0;
}

.mi_foto{
	background-image: url("../IMAGENES/foto.png");
	width: 251px;
	height: 260px;
	border-radius: 100px;
	align-content: center;
	margin:auto;
	background-size: cover;
}
.cont_sobremi{     /*contenedor*/
	width: auto;
	max-width: 1366px;
	height: auto;
	margin: auto;
	padding-top: 10px;
	overflow: hidden;
	/*métodos para colocar el texto al lado de la imagen
	column-count: 2;
	*/
}
h4{
	font-family: 'Work Sans', sans-serif;
	color: #333333;
	text-decoration:underline #ffcc99;
	font-weight: 500;
	font-size: 1.5em;
	margin-top: 40px;
	text-align: center;
	padding-bottom: 30px;
}

.cont_sobremi p{  /*texto*/
	font-family: 'Work Sans', sans-serif;
	color: #333333;
	font-weight: 400;
	font-size: 1.1em; /*o 16px*/
	margin: auto;
	width: 45%;
	text-align: center;
	padding: 7px 0 0 0;
}

/*conocimientos*/
#contenedorPadre{
	max-width: 1366px;
    background: rgba(255, 204, 153, 0.1);
    padding-bottom: 35px;
	padding-top: 60px;
    height: 390px;
}


 h5{
    font-family: 'Work Sans', sans-serif;
    color: #333333;
    text-decoration: underline #ffcc99;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 60px;
    text-align: center;
}

.habilidades{

    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-left: 130px;
    margin-top: 50px;
}

.contenedor{
    height: 60px;
    text-align: center;
}

.contenedor img{
    width: 40%;
    height: 100px;
}

.subHabilidades{
font-family: 'Work Sans', sans-serif;
color: #333333;
font-weight: 400;
font-size: 1.1em; /*o 16px*/
margin: auto;
padding: 7px 0 0 0;
width: 28%;
text-align: center;
height: 350px;
}

.subHabilidades p{
	margin-top: 25px;
}

/*servicios*/
#contenedorPadre2{
	max-width: 1366px;
    background: #FFFFFF;
    padding-bottom: 35px;
	padding-top: 60px;
    height: 570px;
}

.servicios{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-left: 130px;
    margin-top: 50px;
}

.contenedor2{
    height: 60px;
	box-align: center;
}

.contenedor2 img{
	width: 251px;
	height: 402px;
	margin: 3%;
	margin-left: 11%;
}

/*portafolio*/
#contenedorPadre3{
	max-width: 1366px;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 1.75%;
	background: rgba(255, 204, 153, 0.1);
}

.contenedor3{
	display: inline-flex;
}

.portafolio{
	display: inline-flex;
}

.portafolio1{
	margin-left: 20px;
	display: block;
}

.portafolio1 img{
	margin-top: 10px;
}

.subportafolio1 img{
	width: 611px;
	height: 811px;
}

.subportafolio2 img{
	width: 655px;
	height: 395px;
}

.subportafolio3 img{
	width: 655px;
	height: 395px;
}

#Conte_nedor{
	width: 100%;
	height: 100%;
}

/*contacto*/
#contenedorPadre4{
	max-width: 1366px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.form_contacto input{
	outline-color: transparent;
  border-color: #333333;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
	width: 500px;
  padding-left: 0;
  padding-right: 0;
}

.boton {
  border: 2px solid #FFCC99;
  background: white;
  color: black;
  font-size: 16px;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.25s;
  float: right;
  padding:10px 30px;
  font-family: 'Poppins', sans-serif;

}
.boton:hover {
  background-color: #FFCC99;
	color: #333333;
}

.contacto img{
	margin-left: 50px;
	width: 70%;
	border-radius: 25px;
}

.contacto{
	margin-left: 12%;
	display:flex;
}

.contacto p{
	font-family: 'Work Sans', sans-serif;
	color: #333333;
	font-weight: 500;
}

/*footer*/
footer{

	padding: 50px 0 50px 0;
	width: 100%;
	background: #FFCC99;
}

footer a{
	text-decoration: none;
	color: white;
}

.foot_cont{
	width: auto;
	display: inline-flex;
	margin-left: 10%;
}

.foot1{
	margin-left: 20%;
	display: block;
	text-align: left;
}

.foot1 a{
	margin-bottom: 680px;
}

.foot_cont a{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
    font-size: 15px;
}

.foot2{
	margin-left: 20%;
	display: block;
	text-align: left;
	padding: 0;
}

footer img{
	padding-left: 50px;
	width: 100%;
	height: 100%;
}

.imgFoot{
	display: inline-flex;
	width: 86px;
	right: 86px;
	padding-left: 60px;
}
/*footer final*/


/*scroll*/
*::-webkit-scrollbar {
  width: 10px;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(5, 5, 5, 0.7);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/*final scroll*/







/* si lo borro no afecta en nada, eso creo */
#conocimientos{
	background-color: #EF2327;
	height: auto;
	padding: 95px 0;
}

.icono_1{
	background-image: url("../IMAGENES/icono1.png");
	width: 161px;
	height: 159px;
	border-radius: 100px;
	margin:auto;
	background-size: cover;
}

.cont_conocimientos{
    width: auto;
	height: auto;
	margin: auto;
	padding-top: 10px;
	overflow: hidden;
	/*métodos para colocar el texto al lado de la imagen*/
	column-count: 2;
}




/* TAMAÑO PC - LAPTOP ESTÁNDAR - 1025px a 1366px */
@media all and (min-width: 1025px) and (max-width: 1366px) {
	header{ background-color: rgbargba(197, 197, 197, 0.7); }
}


/* TAMAÑO TABLET - HORIZONTAL -  961px a 1024px */
@media all and (min-width: 961px) and (max-width: 1024px) {
	header{ background-color: rgba(255, 251, 247, 0.1); }
}


/* TAMAÑO TABLET - VERTICAL - 769px a 960px */
@media all and (min-width: 769px) and (max-width: 960px) {
	header{ background-color: rgba(255, 251, 247, 0.1); }
}


/* TAMAÑO CELULAR - HORIZONTAL - 481px a 768px */
@media all and (min-width: 481px) and (max-width: 768px) {
	header{ background-color: rgba(255, 251, 247, 0.1); }
}


/* TAMAÑO CELULAR - VERTICAL - 0x a 480px */
@media all and (min-width: 0px) and (max-width: 480px) {
	header{ background-color: rgba(255, 251, 247, 0.1); }
}
